/* Google Fonts */


/* latin-ext */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v15/Pru33qjShpZSmG3z6VYwnYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}


/* latin */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfZBw1xU1rKptJj_0jans920.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


/* latin-ext */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v15/Ks_cVxiCiwUWVsFWFA3Bjn-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}


/* latin */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v15/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


/* latin-ext */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(http://fonts.gstatic.com/s/roboto/v15/oOeFwZNlrTefzLYmlVV1UIX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}


/* latin */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(http://fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUZBw1xU1rKptJj_0jans920.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


/* latin-ext */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(http://fonts.gstatic.com/s/roboto/v15/97uahxiqZRoncBaCEI3aW4X0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}


/* latin */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(http://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOJBw1xU1rKptJj_0jans920.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


/* Root Elements */

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #1e1e1e;
}


/* Helpers */

.vhelper {
    float: none;
    display: inline-block;
    vertical-align: middle;
    margin-right: -4px;
    margin-top: 10px;
}

.red {
    color: #C8102E !important;
}

.redbg {
    background: #C8102E !important;
}

.black {
    color: #000000 !important;
}

.white {
    color: #FFFFFF !important;
}


/* Components */

section {
    padding: 60px 15px;
}

section:first-child {
    padding: 0;
}

section .headerBlock {
    text-align: center;
    text-transform: uppercase;
    font-size: 42px;
    font-weight: 300;
    padding-bottom: 50px;
    margin: 0;
    letter-spacing: 3px;
    margin-left: 3px;
}

.blockquote {
    border-color: #C8102E;
    font-style: italic;
}


/* Navigation */

.navwrapper {
    height: 60px;
    margin: 0;
    padding: 0;
}

.navbar-inverse {
    background: #222;
    height: 60px;
    width: 100%;
    margin: 0;
    border: 0;
    border-radius: 0;
    z-index: 999999;
}

.navbar-collapse.collapse {
    text-align: center;
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}

.navbar-collapse.collapsing {
    text-align: center;
}

.navbar-nav {
    display: inline-block;
    float: none;
    margin: 0;
}

.navbar-nav li > a {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 300;
    color: #fff !important;
    line-height: 30px;
}

.navbar-toggle {
    margin: 14px;
    float: left;
}

.navbar-collapse.collapse.in,
.navbar-collapse.collapsing {
    background: #C8102E;
}


/* Home */

.home {
    height: calc(100% - 60px);
    height: calc(100vh - 60px);
    /*min-height: 480px;*/
    max-height: 1440px;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.home .container {
    padding: 0 3rem;
    text-align: center;
    position: absolute;
    width: 100%;
    z-index: 500;
}

.home .branding {
    max-width: 800px;
    margin: 10rem auto;
    margin-bottom: 1rem;
    text-align: center;
    z-index: 100;
}

.home .headlines {
    margin: 0 5%;
}

.home h1,
.home h2,
.home h3 {
    font-weight: 300;
    color: #ddd;
    font-size: 0px;
    z-index: 100;
    text-shadow: 0px 2px 4px rgba(30, 30, 30, 0.5);
    margin: 10px 0;
}

.home h2 {
    font-weight: 700;
}

.home h2 .university {
    font-weight: 400;
}

.home h2 .of {
    font-weight: 300;
}

.home h3 {
    font-size: 28px;
    width: 75%;
    margin: auto;
}

.box1,
.box2,
.box3 {
    border: 2px solid #0099FF;
    color: white;
}

.about {
    color: white;
    font-size: 18px;
}
