/* Google Fonts */



/* Root Elements */

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #1e1e1e;
}


/* Helpers */

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.red {
    color: #b00e29 !important;
}

.redbg {
    background: #b00e29 !important;
}

.black {
    color: #000000 !important;
}

.white {
    color: #FFFFFF !important;
}


/* Components */

section {
    padding: 60px 15px;
}

section:first-child {
    padding: 0;
}

section .headerBlock {
    text-align: center;
    text-transform: uppercase;
    font-size: 42px;
    font-weight: 300;
    padding-bottom: 50px;
    margin: 0;
    letter-spacing: 3px;
    margin-left: 3px;
}


/* Navigation */

.navwrapper {
    height: 60px;
    margin: 0;
    padding: 0;
}

.navbar-inverse {
    background: #222;
    height: 60px;
    width: 100%;
    margin: 0;
    border: 0;
    border-radius: 0;
    z-index: 999999;
}

.navbar-collapse.collapse {
    text-align: center;
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}

.navbar-nav {
    display: inline-block;
    float: none;
    margin: 0;
}

.navbar-nav li > a {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 300;
    color: #fff !important;
    line-height: 30px;
}

.navbar-toggle {
    margin: 14px;
    float: left;
}


/* Home */

.home {
    height: calc(100% - 60px);
    height: calc(100vh - 60px);
    /*min-height: 480px;*/
    max-height: 1440px;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.home .container {
    padding: 0 3rem;
    text-align: center;
    position: absolute;
    width: 100%;
    z-index: 500;
}

.home .branding {
    max-width: 800px;
    margin: 10rem auto;
    margin-bottom: 1rem;
    text-align: center;
    z-index: 100;
}

.home .headlines {
    margin: 0 5%;
}

.home h1,
.home h2,
.home h3 {
    font-weight: 300;
    color: #ddd;
    font-size: 0px;
    z-index: 100;
    text-shadow: 0px 2px 4px rgba(30, 30, 30, 0.5);
    margin: 10px 0;
}

.home h2 {
    font-weight: 700;
}

.home h2 .university {
    font-weight: 400;
}

.home h3 {
    font-size: 28px;
    width: 75%;
    margin: auto;
}

.pg-canvas {
    z-index: -1;
    position: absolute;
}


/* About */

.about {
    background: #eee;
}

.about .headerBlock {
    color: #C8102E !important;
}

.about p {
    font-size: 16px;
    font-weight: 300;
    line-height: 36px;
    padding: 0;
    margin: 0;
}

.about h1 {
    padding: 30px 0;
}

.about .catch {
    text-transform: uppercase;
    padding: 60px 0;
}

.aboutnode i,
h2 {
    color: #333;
}


/* Project */

.project {
    background: #404040;
}

.project h1 {
    color: #E0E0E0;
    text-shadow: 0px 0px 6px #000;
    font-size: 40px;
}

.project p {
    font-size: 16px;
    font-weight: 300;
    line-height: 36px;
    padding: 0;
    margin: 0;
}

.project a {
    color: #C8102E !important;
}


/* Contact */

.contact .headerBlock {
    color: #fff !important;
}

.contact h4 {
    font-size: 24px;
    color: #ddd !important;
}

.contact * {
    color: #999;
}

.contact h2 {
    color: #000;
    text-shadow: 0px 5px 10px #000;
    font-weight: bold;
}

.contact a {
    color: #C8102E !important;
}

/* Footer */

.footer {
    background: #1e1e1e;
    color: #fff;
    font-size: 24px;
}
