body {
    background: #145B7E;
}

span {
    font-size: 72px;
    color: gray;
    transition: color .5s;
    cursor: pointer;
    
}

#h:hover {
    color: red;
}

#a:hover {
    color: white;
}

#m:hover {
    color: blue;
}

#z:hover {
    color: green;
}

#aTwo:hover {
    color: orange;
}




textarea {
    font-size: 28px;
    color: white;
    resize: none;
    background: #145B7E;
    border: 0px;
    font-family: "Times New Roman", Georgia, Serif;
}
